#caixa-logo {
   height: 30px;
   width: 100px;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   align-items: center;
}

li a {
   text-decoration: none;
   color: black;
   font-size: 40px;
   padding: 25px;
}

ul {
   display: flex;
   /*ativa a propriedade de alinhamento*/
   flex-direction: row;
   /*coloca os elementos na horizontal*/
}

li {
   list-style: none;
   /*remove os pontos das lista*/
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 250px;
}

.Home {
   font-style: italic;
}

.btn {
   border: 1px solid black;
   border-radius: 10px;
}

.estrutura {
   width: 280px;
   height: 300px;
   border: 1px solid black;
}

.caixa1 {
   display: flex;
   justify-content: center;
   align-items: center;
}

.texto1 {
   font-size: 20px;
}